{% extends 'base.html.twig' %}

{% block body %}

    <h1>Delete {{ name }}</h1>
    <h3>Are you sure you want to delete product {{ name }}?</h3>

    <form method="post">
        <button class="btn btn-danger">Delete</button>
        <a href="{{ path('product_show', {'id': id}) }}">Cancel</a>
    </form>

{% endblock %}
